body {      
    background-color: #f5f5f5;
    background-image: url(http://subtlepatterns.com/patterns/furley_bg.png); 
    background-position: initial initial; 
    background-repeat: initial initial;
}