body {      
    background-color: #f1f1f1;
    /*background-image: url(http://subtlepatterns.com/patterns/furley_bg.png); */
    background-position: initial initial; 
    background-repeat: initial initial;
}